@*@{
    Layout = null;
}*@

<div class="container text-center">
    <div>
        <h1>@ViewBag.ErrorMessage</h1>
    </div>
    <div>
        <h2>
            <a asp-controller="Home" asp-action="Index">Вернуться на главную</a>
        </h2>
    </div>
</div>