@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">

<head>
    <title></title>
</head>

<body>
<div>
    <h1>ПЕЙДЖ НОТ ФАУНД</h1>
    <h3>Ошибка 404. Такая страница не существует либо она была удалена.</h3>
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn-primary">На главную</a>
</div>
</body>

</html>