<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="container">
                    <h1>Blog page</h1>
                    <partial name="Partial/_PageInDevelopment"/>
                </div>
            </div>
        </div>
    </div>
</section>