<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <h1>Shop page</h1>
                <partial name="Partial/_PageInDevelopment"/>
            </div>
        </div>
    </div>
</section>